<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>USSD API</title>
</head>
<body>
    <div class="jumbotron text-center">
        <div class="container">
            <div class="card">
                <div>
                    {{range $val := .Body}}
                    <p>{{$val}}</p>
                    {{end}}
                </div>
                
            </div>
            <div>
                <form action="/ussd" method="GET">
                    <input name="Body" type="text">
                    <div>
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                    
                </form>
            </div>
            
        </div>
        
    </div>
</body>
</html>

